body{
    text-align: center ;
}

#imagem{
    width:708px;
    height: auto;
}
#muitobom{
    background-color: goldenrod;
    width: 100% ;
}
#informaçoes{
    background-color: aquamarine;
    width: 100% ;
}
#imagens{
    background-color:khaki;
    width: 100% ;
}